body {
    font-family: 'roboto';
}

.navbar-brand {
    font-family: 'kanit';
    font-size: 40px;
}

.navbar {
    background-color: rgb(206, 196, 161);
}

.nav .nav-link.active {
    background-color: rgb(97, 81, 61);
    color: rgb(214, 197, 172);
}

.nav .nav-link, .navbar-brand, .navbar-brand:hover {
    color: rgb(97, 81, 61);
}

.navbar-toggler {
    background-color: rgb(209, 205, 190);
}

.section-title {
    font-family: 'kanit';
}

section#sobre {
    background-color: rgb(206, 196, 161);
}

section#eventos {
    background-color: rgb(184, 176, 148);
}

section#cardapio {
    background-color: rgb(165, 160, 133);
}

section#contato {
    background-color: rgb(142, 135, 112);
}

.text-colored {
    color: rgb(97, 81, 61);
}

.nav-cardapio .nav-link.active, .nav-cardapio .nav-link.active:hover, #contato button {
    background-color: rgb(97, 81, 61);
    color: white;
}

.nav-cardapio .nav-link:hover {
    color: rgb(97, 81, 61);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    
}